@if (UserIsLogged)
{
    <div class="app-owner">
        <div class="menu-app">
            
            <ui-menubutton #btnnode>
                <span class="material-symbols-outlined">
                    web_asset
                </span>
                Basics Nodes
            </ui-menubutton>
            <ui-menubutton #btncom>
                <span class="material-symbols-outlined">
                    flowsheet
                </span>
                Comunication Nodes
            </ui-menubutton>
            <ui-menubutton #btndb>
                <span class="material-symbols-outlined">
                    database
                </span>
                Database Nodes
            </ui-menubutton>
            <button class="button-menu">
                <span class="material-symbols-outlined">
                    settings_applications
                </span>
                Options
            </button>
            <button class="button-menu" (click)="SaveNodesStructInFile()">
                <span class="material-symbols-outlined">
                    save
                </span>
                Save
            </button>
            <button class="button-menu" (click)="LoadNodesStructFromFile()">
                <span class="material-symbols-outlined">
                    folder_open
                </span>
                Load
            </button>
        </div>
        <div  class="view-container">
        <div #_container class="node-container">
            <ng-container #_app> <!-- Render Zone -->
            </ng-container>
        </div>
        </div>
        <div class="app-footer">Last Execution Time: {{ExecutionTime}} ms</div>
    </div>
} @else {
    <ui-panel #panel_ [titlePanel]="'Not Logged'" style="position: absolute;
                                                        transform: translate(-50%,-50%);
                                                        left: 50%;
                                                        top: 50%;">
        <p>
            You must be logged to access this page.
        </p>
        <a routerLink="/user/login">Login</a>
    </ui-panel>
}