@if (UserIsLogged)
{
    <div class="app-owner">
        <div class="menu-app">
            
            <ui-menubutton #btnnode>Node</ui-menubutton>
            <ui-menubutton #btnftp>Ftp</ui-menubutton>
            <ui-menubutton #btndb>Database</ui-menubutton>
            <ui-menubutton #btnops>Options</ui-menubutton>
        </div>
        <div #_container  class="owner">
            <ng-container #_app>

            </ng-container>
        </div>
        <div class="app-footer">foot</div>
    </div>
} @else {
    <ui-panel #panel_ [titlePanel]="'Not Logged'" style="position: absolute;
                                                        transform: translate(-50%,-50%);
                                                        left: 50%;
                                                        top: 50%;">
        <p>
            You must be logged to access this page.
        </p>
        <a routerLink="/user/login">Login</a>
    </ui-panel>
}