@if (UserIsLogged)
{
    <div class="app-owner">
        <div class="menu-app">
            
            <ui-menubutton #btnnode>
                <span class="material-symbols-outlined">
                    web_asset
                </span>
                Basics Nodes
            </ui-menubutton>
            <ui-menubutton #btnftp>
                <span class="material-symbols-outlined">
                    flowsheet
                </span>
                Ftp Nodes
            </ui-menubutton>
            <ui-menubutton #btndb>
                <span class="material-symbols-outlined">
                    database
                </span>
                Database Nodes
            </ui-menubutton>
            <ui-menubutton #btnops>
                <span class="material-symbols-outlined">
                    settings_applications
                </span>
                Options
            </ui-menubutton>
        </div>
        <div #_container  class="owner">
            <ng-container #_app>

            </ng-container>
        </div>
        <div class="app-footer">foot</div>
    </div>
} @else {
    <ui-panel #panel_ [titlePanel]="'Not Logged'" style="position: absolute;
                                                        transform: translate(-50%,-50%);
                                                        left: 50%;
                                                        top: 50%;">
        <p>
            You must be logged to access this page.
        </p>
        <a routerLink="/user/login">Login</a>
    </ui-panel>
}