@import './vars.scss';


input,
[type="text"],
[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: unset;
    background-color: unset;
    border-bottom: 1px solid $border-color;

    &.ng-invalid.ng-touched:not(.ng-untouched) {
        border-color: red;
        color: red;
    }

    &:active,
    &:focus,
    &:hover,
    &:visited,
    &:link,
    &:target,
    &:focus-visible,
    &:focus-within {
        outline: unset;
        border: unset;
    }

    &:hover,
    &:active,
    &:focus,
    &:hover,
    &:visited,
    &:link,
    &:target,
    &:focus-visible,
    &:focus-within {
        border-bottom: 1px solid $color-tertiary;
        //background: linear-gradient(0deg, $color-tertiary 5%, transparent 5%);
    }
}

button {
    /* unset all */
    padding: unset;
    margin: unset;
    border: unset;
    background: unset;
    cursor: pointer;

}

button.button-glass {
    background: rgba(255, 255, 255, 0);
    border-radius: $border-radius;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(255, 255, 255, 0.87);
    display: flex;
    padding-inline: $padding-1rem;
    padding-block: 2px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background: linear-gradient(0deg, #d100502a 20%, transparent 90%);
        border-radius: $border-radius;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.7px);
        -webkit-backdrop-filter: blur(2.7px);
        border: 1px solid rgba(255, 255, 255, 0.87);
    }
}

button.button-flat {
    padding: $global-padding;
    background-color: $text-color-light;
    color: $color-tertiary;
    border-radius: $border-radius;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    cursor: pointer;
    min-height: 48px;
    min-width: 64px;

    &:hover {
        background-color: $panel-color-2;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }
}

button.button-menu {
    padding: 2px;
    background-color: $app-menu-button;
    border: 1px solid $app-menu-button-border;
    color: $app-menu-button-color;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    min-height: 22px;
    min-width: 64px;
    margin: 5px;

    &:hover {
        background-color: $app-menu-button-hover;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }

    &:active {
        background-color: $app-menu-button-border;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }
}

.cover-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $panel-color-2;
    border-radius: 50px;
    margin: $global-padding;
    padding-inline: $global-padding * 2;
}

.separator {
    width: 100%;
    height: 1px !important;
    border-bottom: 1px solid $border-color;
    margin-block: $global-padding;
}


.node {
    position: absolute;
    // top: 100px;
    // left: 100px;
    min-width: 150px;
    min-height: 100px;
    background-color: $panel-color-dark;
    border: 1px solid $border-color;
    border-radius: 4px;
    // z-index: -10;

    &>.node-header {
        background-color: $app-menu-button;
        color: $app-menu-button-color;
        padding: 5px;
        border-radius: 4px 4px 0 0;
    }

    &>.node-content {
        width: 100%;
        height: 100%;

        & .socket {
            margin-top: 4px;
            display: flex;
            flex-direction: row;
            align-items: baseline;

            & .socket-sock {
                width: 12px;
                height: 12px;

                &:hover {
                    background-color: #ffe66e;
                    border: 2px solid #8b6700;
                }

                &.left {
                    border-radius: 50% 0px 0px 50%;
                }
                &.right {
                    border-radius: 0px 50% 50% 0px;
                }
            }

            & .socket-data {
                flex: 1;
                & input{
                    width: unset !important;
                    padding: unset !important;
                    margin: 0.5rem;
                }
            }
        }
    }
}

.type-text {
    background-color: #ff8e6b;
    border: 2px solid #7c1515;
}

.type-number {
    background-color: #5eaa57;
    border: 2px solid #125f23;
}

.type-checkbox {
    background-color: #6bc9ff;
    border: 2px solid #15397c;
}

.type-date {
    background-color: #6bffce;
    border: 2px solid #156c7c;
}

.type-datetime-local {
    background-color: #03ffab;
    border: 2px solid #156c7c;
}

.type-email {
    background-color: #b93b3b;
    border: 2px solid #7c1515;
}

.type-file {
    background-color: #bc6bff;
    border: 2px solid #7c156e;
}

.type-image {
    background-color: #b3ff6b;
    border: 2px solid #157c51;
}

.type-range {
    background-color: #5eaa57;
    border: 2px solid #125f23;
}

.type-time {
    background-color: #03ffab;
    border: 2px solid #156c7c;
}

.type-color {
    background-color: none;
    background: linear-gradient(0deg, #7c156e, #6bf1ff);
    border: 2px solid #7c156e;
}