@import './vars.scss';


.font_LOUIS {
    font-family: 'Louis', Arial, Helvetica, sans-serif;
}

.font_ADORABLE {
    font-family: 'Adorable', Arial, Helvetica, sans-serif;
}

.font_BAHNSCHRIFT {
    font-family: 'Bahnschrift', Arial, Helvetica, sans-serif, sans-serif;
}

.font_INKFREE {
    font-family: 'Ink Free', Arial, Helvetica, sans-serif, sans-serif;
}

.font_MONTSERRAT {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif, sans-serif;
}

.font_MONOSPACE {
    font-family: 'Monospace', Arial, Helvetica, sans-serif, sans-serif;
}

.gap {
    gap: $gap;
}

.flex-right {
    justify-self: right;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}