@font-face {
    font-family: 'Louis';
    src: url('../assets/fonts/Louis\ George\ Cafe.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Adorable';
    src: url('../assets/fonts/Adorable\ Handmade.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



$color-main: #d10050;
$color-secondary: #ffbf00;
$color-tertiary: #003655;

$text-color: #333;
$text-color-light: #fff;

$panel-color: #f4f4f4;
$panel-color-dark: #555;
$panel-color-2: #eaeaea;
$panel-color-3: #f9f9f9;

$app-menu-button: #333;
$app-menu-button-border: #727272;
$app-menu-button-hover: #555;
$app-menu-button-color: #d3d3d3;

$body-lite-gradient: linear-gradient(0deg, $panel-color, #ff480015);

$border-color: #a8a8a8;

$font-family: 'Louis', Calibri, Arial, Helvetica, sans-serif;
$font-size: 14px;

$gradient-primary: linear-gradient(90deg, $color-main, $color-secondary);


/* GLOBAL VARS */
$gap: 8px;

/* HEADER VARS */
$header-height: 60px;


/* PADDINGS */
$padding-1rem: 1rem;

$global-padding: 8px;
$global-padding-2x: 16px;

/* BORDERS */
$border-radius: 4px;
// $border($color): 1px solid $color;