$color-main: #ff4800;
$color-secondary: #d10050;
$color-tertiary: #27f1ff;

$text-color: #333;
$text-color-light: #fff;

$font-family: 'Roboto', sans-serif;
$font-size: 12px;

$gradient-primary: linear-gradient(90deg, $color-main, $color-secondary);


/* HEADER VARS */
$header-height: 60px;