<ui-panel #panel_ [titlePanel]="'You\'re Welcome!'">
   @if (UserIsLogged)
   { 
      <p>
         You are already logged in. 
         <br>
         <a href="/app">Go to App</a>
      </p>
   }
   @else {
      <form [formGroup]="Login" class="flex-column gap">
         <div class="cover-input">
            <input class="fs-2" type="text" formControlName="email" placeholder="Email" autocomplete="off">
         </div>
         <div class="cover-input">
            <input class="fs-2" type="password" formControlName="password" placeholder="Password" autocomplete="off">
         </div>
         <div>
            <div class="separator"></div>
            <p style="margin-top: unset;"> Or login with:</p>
            <ui-button-glass (click)="onClick_LoginGoogle()">
               <img src="assets/icons/media/icons8-google.svg"
               alt="Google" width="32" height="32">
               <b>Sign in with Google</b>
            </ui-button-glass>
         </div>
         <div class="separator"></div>
         <p style="margin:unset">
            If you don't have an account, please <a href="/register">register</a>
            <br>
            Or call you enterprise administrator to request an account.
         </p>
         <div class="separator"></div>
         <p>
            Enter as a guest user <a (click)="onClick_GuestUser()" href="">here</a>
         </p>
         <div class="panel-buttons">
            <ui-button-flat (click)="onClick_Login()">
               <span>Login</span>
               <span class="material-symbols-outlined">
                  login
               </span>
            </ui-button-flat>
         </div>
      </form>
   }
   

</ui-panel>