<ui-panel #panel_ [titlePanel]="'You\'re Welcome!'">
   <form [formGroup]="Login" class="flex-column gap">
      <div class="cover-input">
         <input class="fs-2" type="text" formControlName="user" placeholder="User">
      </div>
      <div class="cover-input">
         <input class="fs-2" type="password" formControlName="password" placeholder="Password">
      </div>
      <div>
         <div class="separator"></div>
         <p style="margin-top: unset;"> Or login with:</p>
         <ui-button-glass>
            <img src="assets/icons/media/icons8-google.svg" alt="Google" width="32" height="32">
            Sign in with Google
         </ui-button-glass>
      </div>
      <div class="separator"></div>
      <p style="margin:unset">
         If you don't have an account, please <a href="/register">register</a>
         <br>
         Or call you enterprise administrator to request an account.
      </p>
      <div class="panel-buttons">
         <ui-button-flat>
            <span>Login</span>
            <span class="material-symbols-outlined">
               login
            </span>
         </ui-button-flat>
      </div>
   </form>
</ui-panel>